/* css styles */
/* Center text and images */
h1, h2, h3, p, img {
  text-align: center;
}


body {
  margin: 0;
  padding: 20px;
  font-family: Roboto, sans-serif;
}


.navbar a {
  color: #ffffff !important;
}

.navbar a:hover {
  background-color: #007BFF;
  color: white !important;
}

.navbar-brand img {
  height: 30px; 
  margin-right: 10px; 
  vertical-align: middle; 
}
